@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  display: inline-flex;
  padding: 21px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
}
.btn-green {
  background: #23be0a;
  color: #fff;
  text-align: center;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 48px;
}
